/* Media queries */

@media only screen and (min-width: 576px) {

    .c4l-buttons-filters, .c4l-buttons-flavors {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0 10px;
    }
}

@media only screen and (min-width: 992px) {
    .c4l-modal-no-preview.modal-open .modal-dialog {
        max-width: 500px;
    }

    .c4l-buttons-preview.c4l-no-preview {
        justify-content: center;
    }

    .c4l-buttons-preview.c4l-no-preview .c4l-buttons-grid {
        grid-gap: 9px;
        justify-content: center;
        width: 405px;
    }

    .c4l-buttons-preview.c4l-no-preview .c4l-code-preview {
        display: none;
    }

    .c4l-buttons-grid {
        width: 444px;
        padding: 16px 0 3px 0;
    }

    .c4lt-dialog-button {
        height: 100px;
        width: 116px;
        max-width: 116px;
        box-shadow: none;
        border-radius: 4px;
        margin-bottom: 0;
    }

    .c4lt-dialog-button::before {
        content: '';
    }

    .c4lt-dialog-button .c4l-button-text::before {
        left: 0;
        right: 0;
        margin: 0 auto;
        border-right: none;
        display: inline-block;
        width: 60px;
        height: 60px;
        top: 3px;
    }

    .c4lt-dialog-button .c4l-button-text {
        padding: 70px 8px 15px 8px;
        font-size: 12px;
        font-weight: 500;
        line-height: 13px;
        width: 80px;
        text-align: center;
        justify-content: center;
    }

    .c4lt-dialog-button .c4l-button-variants {
        grid-auto-flow: row;
        grid-gap: 0;
        align-content: flex-start;
        justify-content: start;
        width: 36px;
        height: 99px;
        background-color: #ecf3ff;
        margin: 0;
    }

    .c4lt-dialog-button .c4l-button-variants .c4l-button-variant {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1679f9;
        height: 33px;
        width: 36px;
    }

    .c4lt-dialog-button:hover,
    .c4lt-dialog-button:active {
        box-shadow: 0 0 0 3px rgba(22, 121, 249, 0.3);
    }

    .c4lt-dialog-button .c4l-button-variants .c4l-button-variant:first-child,
    .c4lt-dialog-button .c4l-button-variants .c4l-button-variant:nth-child(2) {
        border-bottom: 1px solid #fff;
    }

    .c4lt-dialog-button:hover .c4l-button-variants .c4l-button-variant {
        box-shadow: none;
    }

    .c4l-code-preview {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 343px;
        align-items: center;
        justify-content: center;
    }

    .c4l-preview-default {
        border: 1px solid #e1e5ee;
        border-radius: 8px;
        color: #9297a1;
        padding: 23px 10px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        width: 60%;
        margin: 0 auto;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .c4l-text-preview {
        position: absolute;
        top: 10px;
        right: 10px;
        font-weight: 600;
        font-size: 9.5px;
        line-height: 11px;
        letter-spacing: 0.06em;
        color: #fff;
        background-color: #535d76;
        border-radius: 6px;
        padding: 5px;
        text-transform: uppercase;
    }
}
