{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_c4l/management

    TODO describe template management

    Example context (json):
    {
        "compcat": {
            "id": 101,
            "name": "Category1",
            "displayname": "Category 1 Display Name",
            "compcat": "Main Category",
            "imageclass": "icon-category1",
            "timemodified": 1628572800,
            "code": "CAT01",
            "text": "This is the description for Category 1.",
            "variants": [1, 2],
            "flavors": [1, 3],
            "order": 1,
            "css": "category1-css",
            "js": "category1-js",
            "timecreated": 1628569200
        },
        "component": {
            "id": 1,
            "name": "Component1",
            "displayname": "Component 1 Display Name",
            "compcat": 101,
            "imageclass": "icon-component1",
            "code": "COMP01",
            "text": "This is the text for Component 1.",
            "variants": [1, 2],
            "flavors": [1, 3],
            "order": 1,
            "css": "component1-css",
            "js": "component1-js",
            "timecreated": 1628569200,
            "timemodified": 1628572800
        },
        "variant": {
            "id": 1,
            "name": "Variant1",
            "displayname": "Variant 1 Display Name",
            "timemodified": 1628572800,
            "content": "This is the content for Variant 1.",
            "css": "variant1-css-class",
            "timecreated": 1628569200
        },
        "flavor": {
            "id": 1,
            "name": "Flavor1",
            "displayname": "Flavor 1 Display Name",
            "content": "This is the content for Flavor 1.",
            "css": "flavor1-css-class",
            "timecreated": 1628569400,
            "timemodified": 1628572800
        },
    }
}}

<div class="row">
    <div class="col mb-2">
        <a href="{{exportlink}}" class="btn btn-primary"> {{#str}} export, tiny_c4l {{/str}}</a>
        <a href="#" id="c4l_import" class="ml-2 btn btn-primary"> {{#str}} import, tiny_c4l {{/str}}</a>
    </div>
</div>
<h2>{{#str}} compcat, tiny_c4l {{/str}}</h2>
<div class="row row-cols-1 row-cols-lg-6 row-cols-md-4 row-cols-sm-3 row-cols-xs-2">
    {{#compcats}}
        <div class="col mb-4 item compcat" data-compcat="{{name}}">
            <div class="card h-100">
            <div class="card-body">
                {{#id}}
                    <h5 class="card-title">{{displayname}}</h5>
                    <a class="edit" href="#" data-id={{id}} data-table="compcat">
                        {{#pix}} t/edit, core, {{#str}} edit {{/str}}{{/pix}}</a>
                    <a class="delete" href="#" data-id={{id}} data-title={{displayname}} data-table="compcat">
                        {{#pix}} t/delete, core, {{#str}} delete {{/str}}{{/pix}}
                    </a>
                {{/id}}
                {{^id}}
                    <a class="add" href="#" data-id=0 data-table="compcat">
                        <h5 class="card-title">{{#str}} additem, tiny_c4l {{/str}}</h5>
                        {{#pix}} t/add, core, {{#str}} add {{/str}}{{/pix}}</a>
                    </a>
                {{/id}}
            </div>
            </div>
        </div>
    {{/compcats}}
</div>

<h2>flavor</h2>
<div class="row row-cols-1 row-cols-lg-6 row-cols-md-4 row-cols-sm-3 row-cols-xs-2">
    {{#flavor}}
        <div class="col mb-4 item flavor {{name}} {{#id}}hidden{{/id}}{{^id}}addcontainer{{/id}}">
            <div class="card h-100">
            <div class="card-body">
                {{#id}}
                    <div class="management preview">
                        <div class="c4l-{{example}}-icon {{name}}">
                            <div class="c4l-button-text"></div>
                        </div>
                    </div>
                    <h5 class="card-title">{{displayname}}</h5>
                    <a class="edit" href="#" data-id={{id}} data-table="flavor">
                        {{#pix}} t/edit, core, {{#str}} edit {{/str}}{{/pix}}</a>
                    <a class="delete" href="#" data-id={{id}} data-title={{displayname}} data-table="flavor">
                        {{#pix}} t/delete, core, {{#str}} delete {{/str}}{{/pix}}
                    </a>
                {{/id}}
                {{^id}}
                    <a class="add" href="#" data-id=0 data-table="flavor">
                        <h5 class="card-title">{{#str}} additem, tiny_c4l {{/str}}</h5>
                        {{#pix}} t/add, core, {{#str}} add {{/str}}{{/pix}}</a>
                    </a>
                {{/id}}
            </div>
            </div>
        </div>
    {{/flavor}}
</div>

<h2>component</h2>
<div class="row row-cols-1 row-cols-lg-6 row-cols-md-4 row-cols-sm-3 row-cols-xs-2">
    {{#component}}
        <div class="col mb-4 item component {{compcatname}} {{#id}}hidden{{/id}}{{^id}}addcontainer{{/id}}" data-flavors="{{#flavorsarr}}{{.}} {{/flavorsarr}}">
            <div class="card h-100">
            <div class="card-body">
                {{#id}}
                    <div class="management preview">
                        {{#exampleflavorsarr}}
                            <div class="c4l-{{name}}-icon {{.}}">
                                <div class="c4l-button-text"></div>
                            </div>
                        {{/exampleflavorsarr}}
                    </div>
                    <h5 class="card-title">{{displayname}}</h5>
                    <a class="edit" href="#" data-id={{id}} data-table="component">
                        {{#pix}} t/edit, core, {{#str}} edit {{/str}}{{/pix}}</a>
                    <a class="delete" href="#" data-id={{id}} data-title={{displayname}} data-table="component">
                        {{#pix}} t/delete, core, {{#str}} delete {{/str}}{{/pix}}
                    </a>
                {{/id}}
                {{^id}}
                    <a class="add" href="#" data-id=0 data-table="component">
                        <h5 class="card-title">{{#str}} additem, tiny_c4l {{/str}}</h5>
                        {{#pix}} t/add, core, {{#str}} add {{/str}}{{/pix}}</a>
                    </a>
                {{/id}}
            </div>
            </div>
        </div>
    {{/component}}
</div>

<h2>variant</h2>
<div class="row row-cols-1 row-cols-lg-6 row-cols-md-4 row-cols-sm-3 row-cols-xs-2">
    {{#variant}}
        <div class="col mb-4 item variant {{#id}}hidden{{/id}}{{^id}}addcontainer{{/id}}">
            <div class="card h-100">
            <div class="card-body">
                {{#id}}
                    <h5 class="card-title">{{displayname}}</h5>
                    <a class="edit" href="#" data-id={{id}} data-table="variant">
                        {{#pix}} t/edit, core, {{#str}} edit {{/str}}{{/pix}}</a>
                    <a class="delete" href="#" data-id={{id}} data-title={{displayname}} data-table="variant">
                        {{#pix}} t/delete, core, {{#str}} delete {{/str}}{{/pix}}
                    </a>
                {{/id}}
                {{^id}}
                    <a class="add" href="#" data-id=0 data-table="variant">
                        <h5 class="card-title">{{#str}} additem, tiny_c4l {{/str}}</h5>
                        {{#pix}} t/add, core, {{#str}} add {{/str}}{{/pix}}</a>
                    </a>
                {{/id}}
            </div>
            </div>
        </div>
    {{/variant}}
</div>

<h2>{{#str}} compflavor_icons, tiny_c4l {{/str}}</h2>
<button id="c4l_compflavor_button" class="btn btn-primary">{{#str}} edit {{/str}}</button>